.button {
  position: fixed;
  top: 0;
  right: 0px;
  z-index: 50;
  margin: 20px;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.burger {
  z-index: 50;
  width: 100%;
  &::after,
  &::before {
    content: "";
    display: block;
    height: 2px;
    width: 55%;
    margin: auto;
    background-color: white;
    position: relative;
    transition: transform 0.3s;
  }

  &::after {
    top: -6px;
  }

  &::before {
    top: 6px;
  }
}

.burgerActive {
  &::after {
    transform: rotate(45deg);
    top: -1px;
  }

  &::before {
    transform: rotate(-45deg);
    top: 0px;
  }
}

