.menu {
  height: 100vh;
  background-color: #222725;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 30;
  color: white;

  .body {
    box-sizing: border-box;
    height: 100%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;

    .nav {
      @apply text-3xl;

      display: flex;
      flex-direction: column;
      gap: 12px;
      margin-top: 80px;

      .header {
        color: rgb(153, 153, 153);
        border-bottom: 1px solid rgb(153, 153, 153);
        text-transform: uppercase;
        font-size: 11px;
        margin-bottom: 40px;
      }

      a {
        color: white;
        font-weight: 300;
      }
    }
  }
  .footer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 12px;
    gap: 40px;
  }
}

$layout-breakpoint-small: 960px;
