@import url("https://api.fontshare.com/v2/css?f[]=satoshi@1,900,700,500,301,701,300,501,401,901,2&f[]=chillax@1,600,500,300,700,400,200&f[]=switzer@101,600,701,800,501,601,900,100,700,901,400,201,401,200,300,301,801,500&f[]=clash-display@200,400,700,500,600,300&display=swap");
@import "node_modules/locomotive-scroll/dist/locomotive-scroll";
@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
  Note: The styles for this gradient grid background is heavily inspired by the creator of this amazing site (https://dub.sh) – all credits go to them! 
*/

::selection {
  color: #3a5a40;
  background: #ffffff;
}

body {
  margin: 0px;
}

.main {
  width: 100vw;
  /* background-image: url("/svg/BG_Batik.svg"); */
  background-repeat: no-repeat;
  background-size: cover;
  object-position: center;
  min-height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  padding: 120px 24px 160px 24px;
  pointer-events: none;
}

.app {
  @apply overflow-x-hidden;
}

/* Tailwind Styles */

.glassmorphism {
  @apply rounded-xl border border-gray-200 bg-white/20 shadow-[inset_10px_-50px_94px_0_rgb(199,199,199,0.2)] backdrop-blur p-5;
}

/* Footer */
.footer {
  @apply w-screen mx-auto text-light flex -z-10 items-center justify-start flex-col gap-20 border-t border-light px-2 py-4;
}

.footer_copyright {
  @apply max-sm:flex-col w-full text-sm font-normal flex items-center justify-between;
}

.footer_column {
  @apply flex-1 flex flex-col gap-3 text-sm min-w-max;
}

.card {
  border-radius: 16px;
  background: linear-gradient(145deg, #e1e1e1, #ffffff);
  box-shadow: 50px 50px 100px #d0d0d0, -50px -50px 100px #ffffff;
}

/* Scroll Bar CSS */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #899878 #121113;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  width: 0px;
}
*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #121113;
}

*::-webkit-scrollbar-track:hover {
  background-color: #121113;
}

*::-webkit-scrollbar-track:active {
  background-color: #121113;
}

*::-webkit-scrollbar-thumb {
  border-radius: 7px;
  background-color: #899878;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #588157;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #6d8157;
}

/* Desktop Menu */

.desktop-menu {
  @apply hidden md:flex items-center px-8 py-3 bg-light rounded-b-full shadow-md;
}

.navbar {
  @apply fixed top-0 left-0 z-50;
}

/* Hamburger Menu */
.hamburger-menu {
  @apply fixed top-0 right-0 m-5 z-50 w-8 h-8 md:w-16 md:h-16 rounded-[50%] bg-primary cursor-pointer flex items-center justify-center;
}

.burger {
  width: 100%;
}

.burger::before {
  @apply h-[1px] md:h-[2px] top-[-3px] md:top-[-5px] bg-secondary;
  content: "";
  display: block;
  width: 50%;
  margin: auto;
  position: relative;
  transition: transform 0.3s;
}

.burger::after {
  @apply h-[1px] md:h-[2px] top-[3px] md:top-[5px] bg-secondary;
  content: "";
  display: block;
  width: 50%;
  margin: auto;
  position: relative;
  transition: transform 0.3s;
}

.burgerActive::after {
  transform: rotate(45deg);
  top: -1px;
}

.burgerActive::before {
  transform: rotate(-45deg);
  top: 0px;
}


/* Sidebar Nav */
.sidebar {
  @apply h-screen bg-secondary fixed right-0 top-0 z-40 text-light font-clashDisplay;
}

.sidebar-body {
  @apply box-border h-full p-[50px] flex flex-col justify-between relative;
}

.sidebar-header {
  @apply border-b-2 w-fit pr-4 border-dark uppercase text-sm mb-10;
}

.sidebar-footer {
  @apply flex w-full justify-between text-sm gap-2;
}

/* Home Section */
.home-head {
  @apply pr-4 py-4 mt-[2rem] lg:mt-[6rem] md:text-[3rem] lg:text-[3.3rem] xl:text-[4.25rem] 2xl:text-[5rem] text-right text-dark drop-shadow-2xl rounded-l-3xl backdrop-blur-0 md:backdrop-blur-[2px];
  line-height: 5rem;
}

.home-image {
  @apply absolute top-0 left-0 w-screen h-screen md:h-[78%] -z-10 mx-auto;
}

.head-image {
  @apply object-cover object-center grayscale-[80%];
}

/* .head-image::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(0, 212, 255, 0) 90%,
    rgba(52, 78, 65, 1) 100%
  );
} */

.head-span {
  @apply inline-block border-[3px] pb-[1px] px-[3px] border-light bg-gradient-to-r from-dark from-10% 
  via-light via-60% to-primary to-80% bg-clip-text text-transparent;
}

.bg-rounded-gradient {
  @apply w-[15rem] h-[15rem] absolute top-[35%] left-[20%] rounded-full backdrop-invert;
  background: rgb(52, 78, 65);
  background: radial-gradient(
    circle,
    rgba(52, 78, 65, 0.5) 0%,
    rgba(137, 152, 120, 0.5) 70%,
    rgba(52, 78, 65, 0) 100%
  );
}

.column {
  @apply w-[25%] h-full flex flex-col gap-[2vh] min-w-[250px] overflow-hidden;
}

.column:nth-of-type(1) {
  top: -45%;
}
